version: '3.8'

services:
  postgres:
    container_name: meet-flow-pg
    image: bitnami/postgresql 
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: meet-flow
